<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content  >

        <div class="material-design-hamburger">
            <button id="hamburger" class="material-design-hamburger__icon" ng-click="animate()" menu-toggle="left">
                <span class="material-design-hamburger__layer"></span>
            </button>
        </div>

        <ion-nav-view name="menuContent" id="content"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">

        <ion-content>
            <ion-list>
                <ion-item menu-close ng-hide="logged" ng-click="login()">
                    Connexion
                </ion-item>
                <ion-item menu-close ng-show="logged" href="#/app/profile" ng-click="animate()">
                    Profil
                </ion-item>
                <ion-item menu-close ng-show="logged" href="#/app/project" ng-click="animate()">
                    Mon Projet
                </ion-item>
                <ion-item menu-close href="#/app/events" ng-click="animate()">
                    Évènement
                </ion-item>
                <ion-item menu-close href="#/app/map" ng-click="animate()">
                    La Carte
                </ion-item>
                <ion-item menu-close ng-show="logged" href="#/app/alert" ng-click="animate()">
                    Mode alerte
                </ion-item>
                <ion-item menu-close href="#/app/settings" ng-click="animate()">
                    Paramètres
                </ion-item>
                <ion-item menu-close ng-show="logged" ng-click="disconnect()">
                    Deconnexion
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
