<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>

        <div class="material-design-hamburger">
            <button id="hamburger" class="material-design-hamburger__icon" menu-toggle="left">
                <span class="material-design-hamburger__layer"></span>
            </button>
        </div>

        <ion-nav-view name="menuContent" id="content"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">

        <ion-content>
            <ion-list>
                <ion-item menu-close ng-hide="userdata.logged" ng-click="login()">
                    Connexion
                </ion-item>
                <ion-item menu-close ng-show="userdata.logged" href="#/app/profile">
                    Profil
                </ion-item>
                <ion-item menu-close ng-show="userdata.logged" href="#/app/project">
                    Mon Projet
                </ion-item>
                <ion-item menu-close href="#/app/events">
                    Évènement
                </ion-item>
                <ion-item menu-close href="#/app/map">
                    La Carte
                </ion-item>
                <ion-item menu-close ng-show="userdata.logged" href="#/app/safetygeo">
                    Suivi Géolocalisé
                </ion-item>
                <ion-item menu-close href="#/app/settings">
                    Paramètres
                </ion-item>
                <ion-item menu-close ng-show="userdata.logged" ng-click="disconnect()">
                    Deconnexion
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
