# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
/hooks/
/hooks/after_prepare/010_add_platform_class.js
/www/distant/mysql_connect.php
www/distant/mysql_connect.php